---
layout: layouts/base.njk
---
<div class="doc-layout">
  <aside class="doc-sidebar">
    <p class="sidebar-title">Website</p>
    {% for item in navigation %}
      <a href="{{ item.url | url }}">{{ item.label }}</a>
    {% endfor %}
    <p class="sidebar-title">Widgets</p>
    {% for widget in widgets %}
      <a href="{{ ('/widgets/' + widget.slug + '/') | url }}">{{ widget.title }}</a>
    {% endfor %}
  </aside>
  <article class="markdown-body doc-content">
    {{ content | safe }}
  </article>
</div>
